{
    "plugins": [],
    "presets": [
      [
        "env",
        {
          "targets": {
            "browsers": ["last 2 years"]
          }
        }
      ],
      "minify",
    ],
    "ignore": [],
    "sourceMaps": true,
    "comments": false
}
