@mixin antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $link;
}

h2,
h3 {
  font-weight: 500;
  line-height: 1.1;
}

h3 {
  font-size: 16pt;
  margin-top: 25px;
  margin-bottom: 0px;
}

h4 {
  font-size: 14pt;
  margin-top: 20px;
  margin-bottom: 0px;
}

h5 {
  font-size: 12pt;
  margin-top: 15px;
  margin-bottom: 0px;
}
