@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,900,500,700);

// ~~~~~~~~~~~>
// boostrap grid, breakpoints, and nothing else
// ~~~~~~~~~~~>

@import '_variables'; // this is here to overwrite bootstrap variables if needed
@import '../../../bower_components/bootstrap/scss/_variables';
@import '../../../bower_components/bootstrap/scss/mixins/_breakpoints';
@import '../../../bower_components/bootstrap/scss/mixins/_clearfix';
@import '../../../bower_components/bootstrap/scss/mixins/_grid-framework';
@import '../../../bower_components/bootstrap/scss/mixins/_grid';

// ~~~~~~~~~~~>
//
// ~~~~~~~~~~~>
@import '_global';
@import '_typography';

// ~~~~~~~~~~~>
// third party
// ~~~~~~~~~~~>

@import 'thirdparty/_featherlight';
@import 'thirdparty/_featherlight.gallery';

// ~~~~~~~~~~~>
// components
// ~~~~~~~~~~~>
@import 'components/_able';
@import 'components/_buckets';
@import 'components/_collection';
@import 'components/_content';
@import 'components/_contentHeader';
@import 'components/_event';
@import 'components/_footer';
@import 'components/_header';
@import 'components/_postRoll';
@import 'components/_others';
@import 'components/_relatedItem';
@import 'components/_respImg';
@import 'components/_scrollIndicator';
@import 'components/_siteDescription';
@import 'components/_social';
@import 'components/_suppCont';
@import 'components/_transcript';
@import 'components/_unmatched';

body {
  font-family: 'Roboto', sans-serif;
}

#wpadminbar {
  display: none;
}

.notfound {
  padding: 0 0 6em;
  form {
    border: 1px solid $interviews;
    display: inline-block;
    padding: 2px 5px;
  }
  input {
    border: none;
    width: 20em;
  }
  svg {
    width: .8em;
    height: .8em;
    fill: $interviews;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $interviews;
    font-size: 1rem;
    text-transform: uppercase;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $interviews;
    font-size: 1rem;
    text-transform: uppercase;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $interviews;
    font-size: 1rem;
    text-transform: uppercase;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $interviews;
    font-size: 1rem;
    text-transform: uppercase;
  }
}
