
.page {
  @include clearfix();
}

.content-feed {
  margin: 0;
  padding: 0;
}

.content-intro {
  padding: 22px 0;
  line-height: 1.5;
  color: $body;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: $black;
  }
}

.content {
  @include clearfix;
  padding: 18px 22px 12px 18px;
  margin-bottom: 16px;
  cursor: pointer;
}

.content-subheading {
  font-size: 1.2em;
}

.content-hits {
  list-style: none;
  padding: 0;
  li {
    margin: 0 0 5px;
    &:hover {
      background: rgba($linkLight, .3);
    }
    &:focus {
      background: $suppGrey;
    }
  }
  &.hidden {
    display: none;
  }
}

.content-cutoff {
  color: rgba($body, .8);
  background: none;
  padding: 2px 5px;
  border: none;
  font-family: 'Roboto';
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: .5em 0 1em;
  &:hover {
    color: $brand-primary;
  }
}

.content-search-result {
  background: $linkLight;
}

.content--interactive,
.content--interview {
  background: $interviewsBg;
}

.content--timeline {
  background: $timelinesBg;
}

.content--collection {
  background: $collectionsBg;
}

// .content--interactive,
.content--blog {
  background: $blogBg;
}

.content--child {
  margin-left: 2em;
}

.content-inner,
.content-imgWrapper{
  @include make-col(0);
}

.content-inner {
  @include media-breakpoint-up(md){
    @include make-col-span(8);
    padding-right: 1em;
  }
}

.content-imgWrapper {
  display: none;
  @include media-breakpoint-up(md){
    display: block;
    @include make-col-span(4);
  }
}

.content-type {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  color: #000;
}

.content-head {
  font-size: 20px;
  margin: .7em 0 .25em;
  color: #000;
  padding-right: .75em;
  @include media-breakpoint-up(md){
    font-size: 22px;
    margin: 1.2em 0 .25em;
  }
}

.content-excerpt {
  color: $body;
  font-size: 15px;
  margin: 0 0 .75em;
  @include media-breakpoint-up(md){
    padding: 0 2em 0 0;
  }
}

.content-link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  margin: 0 0 .5em;
  display: block;
}

.content-load {
  display: inline-block;
  margin: 42px 0 72px;
  padding: .5em 2em;
  border: 1px solid $link;
  color: $link;
  background: none;
  font-size: 14px;
  text-transform: uppercase;
}

.icon--link {
  width: .75em;
  height: .75em;
  display: inline;
  fill: $link;
}

$listViewIconSize: 32px;

.listView {
  text-align: right;
  height: $listViewIconSize;
  margin: 0 0 15px;
}

.listView input {
  opacity: 0;
  width: $listViewIconSize;
  height: $listViewIconSize;
}

.listView select {
  border: none;
  background: #fff!important;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.listView-label,
.listView input,
.listView svg,
.listView select {
  display: inline-block;
  vertical-align: middle;
}

.listView-label {
  color: $interviews;
  margin: 0 5px 0 1em;
}

.icon--listView {
  width: $listViewIconSize;
  height: $listViewIconSize;
  fill: $body;
  position: relative;
  left: -1*$listViewIconSize;
  margin-right: -1*$listViewIconSize;
  pointer-events: none;
}

.listView input:focus + svg {
  background: mix( $grey, $white );
}


.listView input:checked + svg {
  background: $grey;
}

.content-feed--contracted {

  .content-imgWrapper,
  .content-type {
    display: none;
  }

  @include media-breakpoint-up(lg){

    .content-inner {
      width: 100%;
    }

    .content-head,
    .content-excerpt,
    .content-link {
      float: left;
    }

    .content-head {
      width: 25%;
      margin-top: 0;
    }

    .content-excerpt {
      width: 50%;
    }

    .content-link {
      width: 25%;
    }

  }

}

// generic

.genericContent {
  padding: 2em 0 2em;
  @include media-breakpoint-up(lg){
    padding: 1em 4em 4em;
  }
  @include media-breakpoint-up(lg){
    padding: 1em 10em 4em;
  }
  color: $body;
  line-height: 1.5;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    color: $black;
    &:first-child {
      margin-top: 0;
    }
  }
}

.genericContent--research {
  @include media-breakpoint-up(lg){
    margin-left: 15em;
    padding: 15px;
    margin-top: -50px; // offset margin from contentHeader
  }
}

.researchMenu {
  max-height: 20px;
  overflow: hidden;
  transition: max-height .3s ease-in;
  @include media-breakpoint-up(lg){
    float: left;
    width: 15rem;
    max-height: none;
    margin-top: -50px; // offset margin from contentHeader
    border-top: 10px solid $interviews;
  }
}

.researchMenu--expand {
  max-height: 800px;
}

.researchMenu-search {
  display: flex;
  padding: 15px 0;
  input {
    flex: 1;
    background: none;
    border: none;
    padding: 5px 0;
    font-family: 'Roboto';
    border-bottom: 2px solid $interviews;
  }
  button {
    background: none;
    border: none;
  }
  svg {
    fill: $interviews;
  }
}

.menu--research,
.menu--research ul {
  list-style: none;
}

.menu--research {
  padding: 0;
}

.menu--research ul {
  padding: 0 0 0 1em;
}

.menu--research a {
  text-decoration: none;
  font-weight: 300;
  color: $interviews;
  &:hover,
  &:focus {
    color: $link;
    outline: none;
  }
}

.menu--research > li > a {
  font-weight: 400;
}

.menu--research .current_page_item > a {
  border-bottom: 2px solid $grey;
  color: $interviews;
}

.researchMenu-toggle {
  background: none;
  border: none;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  color: $link;
  font-size: 14px;
  @include media-breakpoint-up(lg){
    display: none;
  }
  svg {
    position: relative;
    top: 3px;
  }
  &:focus {
    outline: none;
    text-decoration: underline;
  }
}

.alignleft {
  float: left;
  margin-right: 10px;
}

.alignright {
  float: right;
  margin-left: 10px;
}

.blog-pagination {
  margin: 25px 0 15px;
}


.author {
  clear: both;
  background: $blogBg;
  padding: 15px;
  margin: 0 0 30px;

  &-link {
    color: inherit;
    display: flex;
    text-decoration: none;
  }

  &-thumbnail {
    margin-right: 1em;
  }

  &-bio {
    flex-grow: 2;
    strong {
      font-size: 1.2em;
    }
    p {
      margin: 0;
    }
  }
}

.researchMenu--app {
  @media(min-width: 992px) {
    margin-top: -10px;
    + .transcript-instructions-wrap {
      width: calc(100% - 15rem);
      float: left;
      .transcript {
        width: calc(2 / 3 * 100% + 4.5em)
      }
    }
  }
}

.contentHeader--timeline .contentHeader-selectWrapper {
  margin-top: 10px;
}

.content-grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;

  @media(min-width: 1800px) {
    h2 {
      margin: 0 0 0 -190px;
    }
  }

  > * {
    width: 100%;
    border: 10px solid white;
    text-decoration: none;
    @media(min-width: 768px) {
      width: 50%;
    }
    @media(min-width: 992px) {
      width: 33.3333%;
    }
    @media(min-width: 1400px) {
      width: 25%;
    }
    @media(min-width: 1800px) {
      width: 16.666%;
    }
    transition: all 1s ease;

    &:hover {

      img {
        opacity: 1;
      }

      .content-gridNode-excerpt {
        max-height: 12em;
        opacity: 1;
        transition: max-height .3s ease, opacity .2s ease .3s;
      }
    }
  }

  &Img {
    background: $black;
  }

  img {
    display: block;
    width:100%;
    height: auto;
    transition: opacity .3s ease;
    opacity: .7;
  }

  &Collection {
    margin: 0 -10px 40px;
    h2 {
      margin: 0 10px;
    }
  }

  &Node {
    position: relative;
    height: 100%;

    &.left &-inner {
      left: 3px;
      right: auto;
    }

    &-inner {
      padding: .5em 1em;
      color: $body;
      @include antialiased;
      transition: all .3s ease;
    }

    &-title {
      font-size: 19px;
      margin: 0 0 5px;
      line-height: 1.1;
      color: mix($body, $interviews);
    }

    &-subtitle {
      font-size: 15px;
      opacity: .6;
      margin: 0;
      line-height: 1.1;
      text-transform: uppercase;
      letter-spacing: .1em;
      font-weight: 300;
      color: black;
    }

    &-date {
      margin: 5px 0 0;
      font-size: 15px;
      color: mix($body, $interviews);
    }
  }

}

@media (min-width: 1800px) {
  [data-endpoint="interviews"][data-id="archive"] {
    .header,
    .main {
      max-width: 1500px;
    }
  }
}

.researchMenu-search {
  margin: 0 0 3rem;
}

.researchMenu-search input {
  font-size: 1rem;
}

.blog-content {
  padding-left: 4rem;
}

.blog-singlePost {
  .contentHeader {
    margin-left: 19rem;
  }

  .blog-content {
    padding-left: 4rem;
  }
}

.widgettitle {
  font-size: 19.2px;
  font-weight: 700;
  margin: 0 0 3px;
  + ul {
    margin: 0;
  }
}
