@import '_post';

.postRoll {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -9px 45px;
}

.postRoll .post {
  margin: 0 0 20px;
  transition: opacity .2s ease;
  @include media-breakpoint-up(md){
    margin: 0;
    width: calc(25%);
  }
}

.postRoll .post--loaded {
  opacity: 1;
}

.postRoll--featured {
  margin: 0 -9px 65px;
  padding: 50px 0 45px;
  @include extendo_clip( $grey );
}

.postRoll--featured .post {
  @include media-breakpoint-up(md){
    width: calc(33% - 15px);
  }
}

.postRoll--home .post {
  margin: 0 0 20px;
}

.postRoll--home:not(.postRoll--blog) .post-image {
  display: none;
}
