.post {
  background-clip: content-box;
  width: 100%;
  @include make-col(18px);
}

.post--interview {
  background-color: $interviewsBg;
}

.post--collection {
  background-color: $collectionsBg;
}

.post--timeline {
  background-color: $timelinesBg;
}

.post--blog {
  background-color: $blogBg;
}

.postRoll--home {
  .post:before {
    bottom: 0;
  }
}

.post-type {
  border-bottom: 10px solid $white;
  padding: 20px 0 10px;
}

.post-type,
.content-type {
  font-weight: 500;
  font-size: 14px;
}

.post-title {
  font-size: 21px;
  margin: 10px 0 5px;
  line-height: 1.1;
}

.post-image {
  margin: 0 0 18px;
  cursor: pointer;
}

.post-header + .post-image {
  margin-top: 10px;
}

.post-excerpt {
  margin: 0 0 10px;
  color: $body;
}

.post-hyperlink {
  color: inherit;
  text-decoration: none;
}

.post-link {
  display: block;
  margin-bottom: 40px;
  text-decoration: none;
  font-size: 14px;
  color: $link;
  &:after {
    content: '\203A';
    margin-left: .3em;
  }
}

.post-type,
.post-link {
  text-transform: uppercase;
}

.icon--type {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  margin: 0 .4em 0 0;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.post-meta-label {
  padding: 0 18px;
}

.post-meta {
  margin: 4px 0 10px;
}

.post-meta svg {
  fill: $icon;
}

.post-meta dd {
  display: inline-block;
  padding: 0;
  margin: 3px 15px 0 0;
  color: $icon;
}

.post-header,
.post-image,
.post-excerpt,
.post-title,
.post-link,
.post .blog-category,
.post .blog-meta, {
  display: block;
  padding: 0 18px;
}

.blog-meta strong {
  font-weight: 400;
  color: mix($greyDark, #ccc);
}

.post .blog-category + .blog-category {
  margin-top: -15px;
}

.post-image img {
  width: 100%;
  height: auto;
}

// ===
// home featured
// ===


.homeFeat {
  position: relative;
  color: $white;
  padding: 45px 0 0;
  @include antialiased;
  @include clearfix;
  @include extendo_clip( $interviews );

  .post-meta {
    padding: 0 18px;
  }

  .post-meta dd {
    color: $white;
  }

  svg {
    fill: $white;
  }

  .post-link {
    color: $linkLight;
  }

  .post-type {
    border-color: rgba(255,255,255,.05);
  }

  .post-title {
    font-size: 33px;
    margin-top: 15px;
    margin-bottom: 12px;
  }

}

.homeFeat-inner {
  position: relative;
  overflow: hidden;
  margin: 12px 0 80px;
}

.homeFeat-inner .post-excerpt {
  color: $white;
}

@include media-breakpoint-up(md){

  .homeFeat-inner {
    padding-right: 50%;
    min-height: 20rem;
  }

  .homeFeat .post-image {
    position: absolute;
    top: 0; right: 0;
    width: 50%;
  }

}

.blog {
  &-single {
    margin: 4em 0 0;
    padding: 0 2em 10px;
    border-bottom: 1px solid $suppGrey;
  }

  &-meta {
    text-transform: uppercase;
    color: #ccc;
    letter-spacing: 1px;
    font-size: 14px;
  }

  &-excerpt {
    p {
      display: inline;
    }
  }

  &-pagination {
    max-width: 500px;
    text-align: center;
    margin: 10px auto 70px;
    padding: 10px 0;
    border-bottom: 2px solid mix($suppGrey, $greyDark);
  }

  &-article-head {
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        color: lighten($body, 10);
      }
    }
  }

  &-content {
    width: 75%;
    float: left;
  }

  &-category {
    display: inline-block;
    text-transform: uppercase;
    color: #ccc;
    letter-spacing: 1px;
    font-size: 14px;
    margin: 10px 1em 2em 0;
    ul {
      padding: 0;
      list-style: none;
      display: inline;
    }
    li {
      display: inline;
    }
  }
}
